 <div class="container">
    <div class="contents">
        <nav class="navbar navbar-expand-lg navbar-light " style="background-color: gray;">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <div class="btn">
                        <li class="nav-item active">
                            <a style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"
                                class="nav-link">Home</a>
                        </li>
                    </div>
                    <div class="btns">
                        <div class="btn-group shadow-0">
                            <button type="button" class="btn " aria-expanded="false">
                                About
                            </button>
                        </div>
                        &nbsp;
                        <div class="btn-group shadow-0">
                            <button type="button" class="btn" aria-expanded="false">
                                Resume
                            </button>
                        </div>
                        &nbsp;
                        <div class="btn-group shadow-0">
                            <button type="button" class="btn" aria-expanded="false">
                                Contact
                            </button>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">Action</button>
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </nav>
        <div>
        </div> -->

        <div class="nav" style="border: grey;"></div> -->